*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
}
.add-todo-wrapper{
    animation: todoContainer 0.5s linear;
}

@keyframes todoContainer {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}
